.app.dark {
	background-color: #222;
	color: rgb(156, 156, 156);

	.chart-grid {
		stroke: rgba(228, 228, 228, 0.2);
	}

	.table {
		background-color: #111;

		.table-cell {
			color: gray;
		}
	}

	.navbar {
		color: #999;
		border-color: #333;

		.search {
			border-color: gray;
		}
	}

	.sidebar {
		background-color: #111;
		border-color: #333;

		.top {
			.logo {
				color: #999;
			}
		}

		.color-option {
			border-color: #111;
		}

		ul {
			li {
				&:hover {
					background-color: #333;
				}

				.icon {
					color: #999;
				}
			}
		}
	}

	.data-table {
		.data-grid {
			color: gray;
			border: none;

			.delete-button,
			.view-button a,
			.view-button,
			.cell-with-status {
				color: gray;
				border: none;
			}
		}
	}

	input {
		background-color: transparent;
	}
}
